/build/
/Unit2/week8Singleton/nbproject/private/
/Unit2/week8Singleton/week8Singleton-war/nbproject/private/
/Unit2/week8Singleton/week8Singleton-ejb/nbproject/private/
/Unit2/week8Singleton/week8Singleton-ejb/dist/
/Unit2/week8Singleton/week8Singleton-ejb/build/
/Unit2/week8Singleton/build/
/Unit2/week8Singleton/dist/
/Unit2/week8Singleton/week8Singleton-war/build/
/Unit2/week8Singleton/week8Singleton-war/dist/