/build/
/Unit2/week8Singleton/nbproject/private/
/Unit2/week8Singleton/week8Singleton-war/nbproject/private/
/Unit2/week8Singleton/week8Singleton-ejb/nbproject/private/
/Unit2/week8Singleton/week8Singleton-ejb/dist/
/Unit2/week8Singleton/week8Singleton-ejb/build/
/Unit2/week8Singleton/build/
/Unit2/week8Singleton/dist/
/Unit2/week8Singleton/week8Singleton-war/build/
/Unit2/week8Singleton/week8Singleton-war/dist/
/Unit2/week9testpractice/nbproject/private/
/Unit2/week9testpractice/week9testpractice-war/nbproject/private/
/Unit2/week9testpractice/week9testpractice-ejb/nbproject/private/
/Unit2/week9testpractice/dist/
/Unit2/week9testpractice/build/
/Unit2/week9testpractice/week9testpractice-ejb/build/
/Unit2/week9testpractice/week9testpractice-ejb/dist/
/Unit2/week9testpractice/week9testpractice-war/dist/
/Unit2/week9testpractice/week9testpractice-war/build/
/Unit2/Ev2/nbproject/private/
/Unit2/Ev2/Ev2-war/nbproject/private/
/Unit2/Ev2/Ev2-ejb/nbproject/private/
/Unit2/Ev2/build/
/Unit2/Ev2/dist/
/Unit2/Ev2/Ev2-war/build/
/Unit2/Ev2/Ev2-war/dist/
/Unit2/Ev2/Ev2-ejb/dist/
/Unit2/Ev2/Ev2-ejb/build/